{
  title: t('<%= tableNameRelatedCase.snake %>', { ns: 'modules' }),
  children: (
    <DataPanel
      ref={<%= tableNameRelatedCase.camel %>Ref}
      selectable
      multiple
      layout='list'
      id={`<%= tableNameCase.kebab %>-${item?.id}`}
      url={`/<%= tableNameCase.kebab %>/${item?.id}/<%= tableNameRelatedCase.kebab %>`}
      render={(item: <%= tableNameRelatedCase.pascal %>) => (
        <div className='flex flex-row gap-2'>
          <span className='relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold'>
            <%= mainField %>: {item.<%= mainField %>}
          </span>
        </div>
      )}
    />
  ),
  buttons: [
    {
      text: t('add', { ns: 'actions' }),
      variant: 'default',
      onClick: () => {
        openCreate<%= tableNameRelatedCase.pascal %>()
      },
    },
    {
      text: t('apply', { ns: 'actions' }),
      variant: 'default',
      onClick: () => {},
    },
  ],
}